body {
  font-family: Arial, Helvetica, sans-serif;
  color: $cor-11;
}

//Fontes

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap");

//Tipografia

@mixin tipo-1($size) {
  font-size: $size;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.125;
}

@mixin tipo-2($size) {
  font-size: $size;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.125;
}
