body {
  font-family: Arial, Helvetica, sans-serif;
  color: $cor-11;
}

//Fontes

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");

//Tipografia

@mixin tipo-1-xxl() {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.125;
}

@mixin tipo-1-xl() {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.25;
}

@mixin tipo-1-xs() {
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.35;
}

@mixin tipo-1-m() {
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.35;
}

@mixin tipo-1-l() {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

@mixin tipo-1-m-b() {
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.35;
}

@mixin tipo-1-s() {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

@mixin tipo-2-xs() {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.43;
}

@mixin tipo-2-xl() {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.25;
}

@mixin tipo-2-s() {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

@mixin tipo-2-m() {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.35;
}

@mixin tipo-2-l() {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.125;
}

@mixin tipo-2-l-b() {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

//Container

@mixin container() {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

//Background

@mixin bg() {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $cor-11;
}

.titulo {
  background: url(../assets/dec/top-right.svg) no-repeat top right 20px;
}

//Animação
.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
